/**
 * Typography styling
 * =================================
 */
    
h1, h2 {
    font-family: $base-font;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 97%;
    color: $color-darkgray;
}

h2 {
    font-weight: normal;
    font-size: 24px;
}

p {
    font-family: $base-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $color-gray;
}