/**
 * Variables
 * =================================
 */
/**
 * Global styling
 * =================================
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
  height: auto;
}

/**
 * Typography styling
 * =================================
 */
h1, h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 97%;
  color: #050505;
}

h2 {
  font-weight: normal;
  font-size: 24px;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #666666;
  line-height: 1.4;
}

/**
 * Links
 * =================================
 */
a {
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

a, a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover, a:focus {
  color: #EBA904;
}

a:active {
  color: #EBA904;
}

.btn {
  margin-top: 20px;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.btn a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}

.btn hr {
  width: 35px;
  border: solid 1px #EBA904;
  background-color: #EBA904;
}

/**
 * Navbar
 * =================================
 */
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  border-bottom: solid 1px #EAE8E8;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 90px;
}

.nav__links a {
  margin: 20px;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icons img {
  margin: 8px;
}

/**
 * Notification
 * =================================
 */
.notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  background-color: #EBA904;
}

.notification p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #F2F2F2;
}

.main__slide {
  width: 100%;
  height: auto;
  padding-top: 30px;
  text-align: center;
}

.main__slide img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main__slide--promo {
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__slide--promo img {
  width: 100%;
}

/**
 * Recipe styling
 * =================================
 */
.main__recipe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__recipe--container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__recipe--image {
  width: 50%;
}

.main__recipe--details {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__recipe--details h1 {
  padding-bottom: 70px;
}

.main__recipe--details h2 {
  padding-bottom: 40px;
}

.main__recipe--details p {
  padding-bottom: 10px;
  width: 80%;
}

.products__slides {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 200px;
}

.products__slides {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__container {
  width: 90%;
  min-height: 400px;
}

.product__card {
  word-break: break-all;
  padding: 8px;
  margin-left: 30px;
}

.product__card h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 97%;
  margin-top: 15px;
  color: #666666;
}

.product__card p {
  margin-top: 8px;
}

.btn--center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prev__arrow {
  position: relative;
  top: -40px;
  left: 93%;
  text-align: center;
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.next__arrow {
  position: absolute;
  top: -40px;
  left: 90%;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.slick-dots li {
  margin-left: 12px;
}

.slick-dots li span:hover {
  cursor: pointer;
}

.slick-dots li img:nth-child(1) {
  display: block;
}

.slick-dots li img:nth-child(2) {
  display: none;
}

.slick-dots li.slick-active img:nth-child(1) {
  display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
  display: block;
}
/*# sourceMappingURL=style.css.map */